*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

input {
  text-indent: 0.5em;
  width: 20rem;
  height: 3rem;
  font-size: 1.6rem;
}

/* HEADER */

.header {
  text-align: center;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.header__title {
  margin-bottom: 0.5em;
}

.search-bar {
  height: 3rem;
  margin: 0 auto;
  margin-bottom: 2em;
}

.add-contact__title {
  margin-bottom: 0.5em;
}

.add-contact__name,
.add-contact__email {
  margin: 0.5em;
}

.add-contact__submit {
  text-indent: 0;
}

/* CONTACTS */

.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  max-width: 120rem;
  margin: 0 auto;
  gap: 0.5em;
  padding: 1em;
  border: solid 1px lime;
}

.card {
  font-size: 1.8rem;
  display: flex;
  position: relative;
  min-width: 22rem;
  overflow-x: hidden;
  height: 7rem;
  border: solid 1px red;
  padding: 0.5em;
}

.card__img {
  border: solid 1px purple;
  width: 5rem;
  height: 5rem;
  padding: 0.2em;
  border-radius: 50%;
  background-color: lightblue;
  margin-right: 0.5em;
}

.card__email {
  font-size: 1.2rem;
}

.card__remove-contact {
  margin: 0.5em;
  font-size: 0.8rem;
  font-weight: 700;
  width: 1.5rem;
  height: 1.5rem;
  background-color: darkred;
  color: white;
  cursor: pointer;
  border: none;
  top: 0;
  position: absolute;
  right: 0;
}
